.Home {
  background: url('../../images/backgroundimage.jpg') center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.Home__text {
    font-family: 'GOT';
    position: absolute;
    width: 575px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 5;
    text-align: center;
    color: white;
    font-size: 3rem;
  }

  .text-hide {
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
  }