@import "~bootstrap/scss/bootstrap-grid.scss";

.App {
  background: black;
}

body {
  background-color: black;
}


.b-nav {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  display: flex;
  padding: 20px;
  justify-content: flex-end;


  &__links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 96%;
    list-style: none;
    height: 10%;
  }

  &__buscador {
    grid-area: busqueda;
    display: flex;
    align-items: center;
    padding: 20px;
    text-align: left;
    display: flex;
    justify-content: flex-end;
    align-items: center;

  }

  &__buscador input {
    font-family: LATO;
    min-width: 60%;
    padding: 0 15px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #cccccc;
    font-size: 16px;

  }

  &__buscador button {
    height: 35px;
    border: 1px solid #cccccc;
    border-left: none;
    color: #545454;
    background: #c9c9c9;
    padding: 0 25px;
    cursor: pointer;

  }

  &__buscador button:hover {
    background: #d6d4d4;

  }

  &__icon {
    width: 20px;
    height: 20px;

  }


}

.b-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 10%;


  &__links {
    font-family: 'GOT';
    display: flex;
    justify-content: space-around;
    list-style: none;
  }
}